<mat-toolbar color='primary'>
  Users
</mat-toolbar>
<div class='content'>
  <div fxLayout='row wrap' fxLayoutGap="15px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor='let id of users'>
      <mat-card class='mat-elevation-z4'>
        <img class='gravatar' ngxGravatar [email]=id.email />
        <mat-card-content>
          <div class='name'>
            <span class='nameStyle'>Name: </span> <span>{{id.name}}</span>
          </div>
          <div class='email'>
            <span class='emailStyle'>Email: </span><span>{{id.email}}</span>
          </div>
          <div class='city'>
            <span class='cityStyles'>City: </span><span>{{id.address.city}}</span>
          </div>
          <div class='company'>
            <span class='companyStyles'>Company: </span><span>{{id.company.name}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>